body {
    font-family: 'Times New Roman', Times, serif;

        background-image: url(https://wallpapercave.com/wp/tWIEGag.jpg);
        background-repeat: no-repeat;
        background-size: 100%;
      
}
i:hover {
    cursor: pointer;
}
